//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <200>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    retro-tap;
};

&lt {
    quick-tap-ms = <200>;
    retro-tap;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                &kp Q       &kp W       &kp E         &kp R        &kp T           &kp Y           &kp U        &kp I        &kp O       &kp P
                &mt LGUI A  &mt LALT S  &mt LCTRL D   &mt LSHFT F  &kp G           &kp H           &mt RSHFT J  &mt RCTRL K  &mt RALT L  &mt RGUI SEMI
&mt LSHIFT TAB  &kp Z       &kp X       &kp C         &kp V        &kp B           &kp N           &kp M        &kp COMMA    &kp DOT     &kp FSLH       &kp BSLH
                                        &kp LEFT_ALT  &kp LCTRL    &mt LGUI RET    &mt RALT SPACE  &lt 1 BSPC   &mo 2
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
        &kp EXCL  &kp AT  &kp HASH   &kp DLLR   &kp PRCNT           &kp CARET          &kp AMPS   &kp STAR  &kp LPAR   &kp RPAR
        &trans    &trans  &kp EQUAL  &kp LPAR   &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RPAR   &kp DQT   &kp UNDER  &trans
&trans  &trans    &trans  &kp PLUS   &kp TILDE  &kp LEFT_BRACE      &kp RBRC           &kp GRAVE  &kp APOS  &kp MINUS  &trans    &trans
                          &trans     &trans     &trans              &trans             &trans     &trans
            >;
        };

        nav_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PG_UP  &trans  &trans     &trans
        &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN   &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp END   &kp PG_DN  &trans  &trans     &trans  &trans
                        &trans  &trans  &trans    &trans    &trans     &trans
            >;
        };
    };
};
